@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

body,html {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height:100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.header{
    text-align: center;
    margin-top: 20px;
    font-family: 'Style Script', cursive;
}

.btn{
    font-size: 30px;
    background-color: #ffb300;
    box-shadow: 
    8px 8px 10px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(14, 14, 14, 0.3);
}

.btn0{
    background-color: Transparent;
    width: 150px;
    height: 80px;
    margin-top: 30px;
    border: 0;
}


.header h1{
    font-size: 70px;
}

.btn-warning{
    width: 150px;
    height: 80px;
    border-radius: 30px;
    margin-top: 30px;
}

.logo{
  text-align: center;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -15%);
}

.content p{
  color: #fff;
  font-size: 20px;
}

.content h1{
  color: #fff;
  font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.footer h1{
    font-size: 20px;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  filter: blur(8px);
  backdrop-filter: blur(10px);
  background:rgba(0,0,0,0.5);
  z-index:1;
  display:none;
}
 
.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background: linear-gradient(-45deg, #ee7752, #e73c7e);
  width:95%;
  max-width:500px;
  height:250px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  border-radius: 20px;
  font-family:"Open Sans",sans-serif;
}
 
.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
 
.popup.active .overlay {
  display:block;
}
 
.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}